@import url('https://fonts.googleapis.com/css2?family=Quicksand&family=Source+Sans+Pro&display=swap');

:root {
  --bg-200: #0e0b16;
  --bg-400: #a239ca;
  --bg-450: #602079;
  --bg-500: #007849;
  --bg-550: #00472c;
  --bg-600: #4717f6;
  --bg-650: #2806a2;
  --bg-700: #fec800;
  --bg-750: #b37e00;
  --bg-800: #e7dfdd;

  --tc-200: #0e0b16;
  --tc-400: #a239ca;
  --tc-500: #007849;
  --tc-600: #4717f6;
  --tc-800: #e7dfdd;

  --ff-primary: 'Quicksand', sans-serif;
  --ff-secondary: 'Source Sans Pro', sans-serif;

  --fs-100: 1rem;
  --fs-200: 1.2rem;
  --fs-300: 1.4rem;
  --fs-400: 1.6rem;
  --fs-500: 1.8rem;
  --fs-600: 2rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}