.submit_control {
    flex-basis: 100%;
    flex-shrink: 0;
}

.create_process {
    transform: scaleY(0);
    transform-origin: top;
    animation: show 250ms ease-out forwards;
}

@keyframes show {
    0% {
        transform: scaleY(0);
    }

    100% {
        transform: scaleY(1);
    }
}